{% extends 'accounts/base.html' %}
{% block title %}Sign Up - ePass{% endblock %}

{% block content %}
<h3 class="text-center mb-4">Create an Account</h3>

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" id="username" class="form-control" required>
  </div>


  <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
    <input type="password" name="password1" id="password1" class="form-control" required>
  </div>

  

  <button type="submit" class="btn btn-success w-100">Sign Up</button>
</form>

<div class="text-center mt-3">
  <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock %}
